@import url("https://fonts.cdnfonts.com/css/google-sans");

* {
  font-family: "Product Sans", sans-serif;
}
fieldset {
  width: 600px;
  border: 3px solid;
  border-radius: 10px;
}

fieldset:hover {
  box-shadow: 0px 25px 100px #c91c7e;
}

#heading:hover {
  background: #c91c7e;
  background: linear-gradient(
    90deg,
    rgba(201, 28, 126, 1) 1%,
    rgba(194, 35, 43, 1) 7%,
    rgba(100, 176, 30, 1) 12%,
    rgba(214, 197, 41, 1) 17%,
    rgba(112, 19, 61, 1) 21%
  );
  background-clip: text;
  color: transparent;
}
body {
  background: #0cc3c9;
  background: linear-gradient(
    90deg,
    rgba(12, 195, 201, 1) 4%,
    rgba(36, 118, 166, 1) 19%,
    rgba(11, 78, 102, 1) 63%,
    rgba(16, 26, 97, 1) 94%
  );
}
input:required {
  border: 2px solid rgb(177, 0, 0);
}
input:optional {
  border: 3px double rgb(2, 144, 2);
}
#institute {
  background-color: chocolate;
  border: none;
  color: darkturquoise;
  font-weight: bold;
  font-size: medium;
  width: 150px;
}

input[type="radio"]:checked {
  height: 17px;
  width: 17px;
}
input[type="radio"]:checked + label {
  color: orangered;
  font-size: large;
  font-weight: bold;
}

input[type="submit"] {
  border: 2px solid navy;
  border-radius: 7px;
  background-color: purple;
  color: wheat;
  font-size: medium;
  font-weight: bold;
}

input[type="reset"] {
  border: 2px solid navy;
  border-radius: 7px;
  background-color: purple;
  color: wheat;
  font-size: medium;
  font-weight: bold;
}

input[type="file"] {
  border: none;
}
select {
  background-color: darkkhaki;
  font-size: medium;
  cursor: pointer;
}

input:focus {
  background-color: pink;
}

input[type="text"] + p {
  display: none;
}
input[type="text"]:hover + p {
  display: inline;
  background-color: aquamarine;
}

input[type="number"] + p {
  display: none;
}
input[type="number"]:hover + p {
  display: inline;
  background-color: aquamarine;
}
input[type="tel"] + p {
  display: none;
}
input[type="tel"]:hover + p {
  display: inline;
  background-color: aquamarine;
}
input[type="password"] + p {
  display: none;
}
input[type="password"]:hover + p {
  display: inline;
  background-color: aquamarine;
}
input[type="date"] + p {
  display: none;
}
input[type="date"]:hover + p {
  display: inline;
  background-color: aquamarine;
}
img {
  display: none;
}
input[type="email"]:focus:valid ~ img#valid {
  display: inline;
  height: 12px;
  width: 12px;
}
input[type="email"]:focus:invalid ~ img#invalid {
  display: inline;
  height: 12px;
  width: 12px;
}
input[type="tel"]:focus:valid ~ img#valid {
  display: inline;
  height: 12px;
  width: 12px;
}
input[type="tel"]:focus:invalid ~ img#invalid {
  display: inline;
  height: 12px;
  width: 12px;
}

input[type="number"]:focus:valid ~ img#valid {
  display: inline;
  height: 12px;
  width: 12px;
}
input[type="number"]:focus:invalid ~ img#invalid {
  display: inline;
  height: 12px;
  width: 12px;
}
